body {
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.nav-links {
  display: flex;
  margin-right: 92px;
  color: white;
  font-size: 18px;
}

.nav-container p {
  margin-left: 202px;
  font-size: 24px;
  color: white;
}

.placeholder-background-color {
  background: rgb(110, 110, 110);
  color: white;
  width: 550px;
  height: 300px;
}

.placeholder-background-color p {
  text-align: center;
  line-height: 280px;
  font-weight: 900;
  font-size: 20px;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.hero-section h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.part-1-background-color {
  background-color: #1f2937;
  height: 600px;
}

.website-awesome {
  width: 380px;
}

.website-awesome p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: large;
  border-radius: 8%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: none;
  font-weight: 900;
}
